path.p1 {
  fill:                 #990;
  stroke:               #009;
  stroke-width:         0.2cm;
}

path.p2 {
  fill:                 #d90;
  stroke:               #055;
  stroke-width:         0.2cm;
}
